# Ignore node_modules in admin folder
admin/node_modules/

# Ignore node_modules in Foody folder
Foody/node_modules/

# Ignore node_modules in Backend folder
Backend/node_modules/

# Ignore node_modules in any other folder
**/node_modules/